*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 0.5s ease-in;
    text-align: center;
}
html{
    scroll-behavior: smooth;
}
body{
    text-align: center;
}
#sec-1{
    background-image: url(assets/background/h_img.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    height: 97vh;
}
#del{
    padding-top: 20vh;
    padding-bottom: 20px;
}
#mouse{
    padding-top: 130px;
    animation: bounce 2s infinite;
}
#sec-2{
    margin: 50px auto;
}
#sec-3{
    background-image: url(assets/background/s_image.jpg);
    color: #fff;
    padding: 100px 10%;
}