*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 0.5s ease-in;
    text-align: center;
}
html{
    scroll-behavior: smooth;
}
body{
    text-align: center;
}
#sec-1{
    background-image: url(assets/background/h_img.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    height: 97vh;
}